
.itemUser { display: block; list-style: none; height: 40px; padding: 0.5em 1em; border: 1px solid blue; box-sizing: border-box; margin-bottom: 1em; }
.active { border: 3px solid red; }
body { background: #ccc; }